<div class="text-center">
    <div id="home">
        <div v-if="hasProductWithStatusTrue">
            <div class="row">
                <div class="col-md-12" v-for="product in products" v-if="product.status">
                    <div class="card" style="width:100%; padding:0 50px;">
                        <br />
                        <div style="display: flex; justify-content: space-between; align-items: center;">
                            <img :src="product.photo" style="width: 100px; height: 100px; border-radius:10%; " />
                            <span>{{ product.name }}</span>
                            <span>{{product.cost}}</span>
                            <a class="btn btn-danger" style="width:200px;" v-on:click="toggleInBasket(product)">Удалить из корзины<i class="bi bi-trash3-fill"></i></a>
                        </div>
                        <br />
                    </div>
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"><button class="btn btn-success" v-on:click="info">Оформить заказ</button></div>
                <div class="col-md-4">
                    Общая стоимость: {{ summaryBasketCost() }} руб.
                </div>
            </div>
        </div>
        <div v-else class="align-content-center">
            <h3>Вы еще не добавили ни один продукт в свою корзину</h3>
            <a asp-controller="Home" asp-action="Index">Перейти</a>
        </div>
    </div>
</div>
