@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" style="margin-left: 100px;">
    <div id="home">
        <div class="row">
            <div class="col-md-4" v-for="product in products">
                <div class="card" style="width:230px; border-radius: 10%">
                    <br />
                    <div class="align-content-center">
                        <img :src="product.photo" style="width: 200px; height: 200px; border-radius:10%;" />
                    </div>
                    {{ product.name }}
                    <br />
                    {{product.cost}}
                    <br />
                    <p style="font-size: 12px;">{{product.about}}</p>
                    <div class="align-content-center">
                        <a class="btn btn-success" style="width:200px;" v-if="!product.status" v-on:click="toggleInBasket(product)">Добавить в корзину</a>
                        <a class="btn btn-danger" style="width:200px;" v-else v-on:click="toggleInBasket(product)">Удалить из корзины<i class="bi bi-trash3-fill"></i></a>
                    </div>
                    <br />
                </div>
                <br />
            </div>
        </div>
    </div>
</div>
